*.swp
.pls_cache/

/.wget-hsts
/.sudo_as_admin_successful
/.lesshst
/.psql_history
/.ssh/known_hosts
/.bash-local
/.viminfo
/.bash_history
/.ssh/agent-*
/.config/monitors.xml*
/.config/mimeapps.list

/.local/*
!/.local/share
/.local/share/*
!/.local/share/nvim
/.local/share/nvim/lsp_servers/
/.local/share/nvim/undo/
/.local/share/nvim/sessions/*.vim
/.local/share/nvim/project_nvim/project_history
/.local/share/nvim/shada/main.shada
/.local/share/nvim/telescope_history
/.local/share/nvim/.netrwhist

/.keychain/
/.luarocks/
/.npm/
/.vagrant.d/
/.plenv/
/.bundle/cache/
/.cache/
/.config/dotfiles/
/.config/gcloud/
/.config/google-chrome/
/.config/nvim/pack/git-plugins/opt/
/.config/autostart/
/.config/dconf/
/.config/evolution/
/.config/gnome-*/
/.config/google/
/.config/gtk-*/
/.config/ibus/
/.config/menus/
/.config/pulse/

/.cpanm/
/.dotfiles/
/.go/
/.gnome/
/.gnupg/
/.pki/
/.openvpn/
/.ssh/login-keys.d/

/lib/
/src/
/tmp/
