[user]
    name = Seth Daniel
    email = seth@sethdaniel.org
[color]
    ui = off
[commit]
    verbose = true
[core]
    excludesfile = ~/.gitignore
    editor = nvr --remote-wait-silent
; see git help rerere for more info
[rerere]
    enabled = true
    autoUpdate = true
[rebase]
    autoSquash = true
[submodule]
    recurse = true
[merge]
    conflictStyle = zdiff3
[diff]
    algorithm = histogram
[includeIf "gitdir:~/src/work/"]
    path = ~/.config/dotfiles/main/git/config
