*.swp
.pls_cache/
/.bash-local
/.bash_history
/.local/share/nvim/lsp_servers/
/.local/share/nvim/undo/
/.local/share/nvim/sessions/
/.local/share/nvim/shada/main.shada
/.local/share/nvim/telescope_history
/.local/share/fonts/
/.local/share/gem/
/.luarocks/
/.npm/
/.vagrant.d/
/.plenv/
/lib/
/src/
/.config/nvim/pack/git-plugins/opt/
/.bundle/cache/
/.cache/
/.config/gcloud/
/.config/google-chrome/
/.cpanm/
/.dotfiles/
/.go/
/tmp/
